@font-face {
    font-family:"Lato medium";
    src: local("Lato"),
    url("../fonts/Lato-Medium.woff2") format("woff2"),
    url("../fonts/Lato-Medium.woff") format("woff");
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family:"Lato light";
    src: local("Lato"),
    url("../fonts/Lato-Light.woff2") format("woff2"),
    url("../fonts/Lato-Light.woff") format("woff");
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family:"Lato bold";
    src: local("Lato"),
    url("../fonts/Lato-Bold.woff2") format("woff2"),
    url("../fonts/Lato-Bold.woff") format("woff");
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family:"Lato regular";
    src: local("Lato"),
    url("../fonts/Lato-Regular.woff2") format("woff2"),
    url("../fonts/Lato-Regular.woff") format("woff");
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family:"RobotoSlab bold";
    src: local("Lato"),
    url("../fonts/RobotoSlab-Bold.woff2") format("woff2"),
    url("../fonts/RobotoSlab-Bold.woff") format("woff");
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family:"RobotoSlab regular";
    src: local("Lato"),
    url("../fonts/RobotoSlab-Regular.woff2") format("woff2"),
    url("../fonts/RobotoSlab-Regular.woff") format("woff");
    font-style: normal;
    font-display:swap;
}

body {
    position: relative;
    background-color: #edeff0;
}

.header {
    z-index: 50;
    background-color: white;
    position: sticky;
    top: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header__menu {
    display: grid;
    grid-template-areas: 
    "sections search . . subscribe sign"
    "statue phrase txt txt date weather";
}

.menu__burger-menu {
    grid-area: sections;
    display: flex;
    align-items: center;
    gap: 15px;
    border-right: 1px solid #D9DADB;
    border-bottom: 1px solid #D9DADB;
}

.burger-menu-title {
    font-family: "Lato medium";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    border-bottom: 1px solid #D9DADB;
}

.menu__search {
    grid-area: search;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 25px;
    border-bottom: 1px solid #D9DADB;
}

.search-title {
    font-family: "Lato medium";
    font-size: 14px;
    line-height: 20px;
    color: #939699;
    border: none;
    background: transparent;
}

.menu__subscribtion-ad {
    grid-area: subscribe;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-bottom: 1px solid #D9DADB;
}

.subscribtion-ad__text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 119px;
}

.ad__text-title {
    font-family: "Lato bold";
    font-size: 12px;
    line-height: 15px;
    color: #262D33;
}

.ad__text-subtitle {
    font-family: "Lato regular";
    font-size: 12px;
    line-height: 15px;
    color: #939699;
}

.menu__profile {
    grid-area: sign;
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #D9DADB;
}

.profile-text {
    font-family: "Lato medium";
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #4B5157;
}

.menu__img {
    grid-area: statue;
    display: flex;
    justify-content: center;
}

.menu__phrase {
    grid-area: phrase;
    display: flex;
    align-items: center;
    font-family: "Lato medium";
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;
}

.menu__text {
    grid-area: txt;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lato bold";
    font-size: 30px;
    text-decoration: none;
}

.text-decoration {
    color: inherit;
    text-decoration: none;
}

.menu__date {
    grid-area: date;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:"Lato medium";
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;
}

.menu__weather {
    grid-area: weather;
    justify-self: end;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather__text {
    font-family:"Lato medium";
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;
}

.header__nav {
    background-color: #262D33;
}

.header__nav-container {
    padding: 17px 0 18px 0;
}

.nav-list {
    display: flex;
    justify-content: space-between;
}

.nav-list__link {
    text-transform: uppercase;
    color: white;
    font-family: "Lato bold";
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
}

.section-popular {
    margin-top: 30px;
    padding: 0 15px 0 15px;
}

.section-popular__grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    background-color: #30363d;
    border-radius: 10px;
}

.section-popular__grid > *:nth-child(-n+3) {
    border-right: 1px solid #4B5157;
}

.grid__item {
    display: flex;
    gap: 15px;
    padding: 25px 25px 30px 25px;
}

.item-text {
    font-family: "RobotoSlab bold";
    font-size: 16px;
    line-height: 25px;
    max-width: 154px;
    color: #FFFFFF;
}

.section-recommended {
    margin-top: 30px;
    display: flex;
    margin-bottom: 60px;
}

.recommended__detail {
    min-width: 877px;
    box-sizing: border-box;
    padding: 55px 55px 100px 55px;
    background-image: url("../img/Recommended_background.png");
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.detail-author {
    display: flex;
    gap: 10px;
}

.author-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 153px;
    color: white;
}

.info-name {
    font-family:"Lato medium";
    font-size: 14px;
    line-height: 20px;
    color: white;
}

.info-work {
    font-family:"Lato medium";
    font-size: 12px;
    line-height: 15px;
    opacity: 40%;
    color: white;
}

.detail-subtitle {
    color: #4592FF;
    font-family:"Lato regular";
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 145px;
}

.detail-title {
    font-family:"RobotoSlab regular";
    max-width: 600px;
    color: white;
    font-size: 40px;
    line-height: 50px;
    margin-top: 25px;
}

.detail-readmore {
    display: flex;
    gap: 30px;
    padding-top: 40px;
}

.readmore-button {
    align-self: center;
    max-height: 40px;
    display: flex;
    gap: 5px;
    background-color: #4592FF;
    border-radius: 20px;
    padding: 10px 20px 10px 25px;
    border: none;
}

.button-text {
    align-self: center;
    color: white;
    font-family:"Lato medium";
    font-size: 14px;
    line-height: 20px;
}

.button-img {
    align-self: center;
}

.readmore-info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.info-text {
    display: flex;
    flex-wrap: wrap;
    max-width: 201px;
}

.text-value {
    font-family:"Lato regular";
    font-size: 14px;
    line-height: 20px;
    color: white;
    opacity: 85%;
}

.text-time {
    font-family:"Lato regular";
    font-size: 12px;
    line-height: 15px;
    color: white;
    opacity: 40%;
}

.recomended__list {
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.list-name {
    color:#262D33;
    font-family:"Lato regular";
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    padding: 20px 25px;
    border-bottom: 1px solid #D9DADB;
}

.list-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5,1fr);
}

.list-grid > *:nth-child(-n+4) {
    border-bottom: 1px solid #D9DADB;
}

.grid-block {
    padding: 17px 25px 20px 25px;
    max-width: 263px;
    box-sizing: border-box;
}

.block-title {
    font-family:"Lato regular";
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.block-title_bluegreen {
    color: #3BBDC4;
}

.block-title_greyblue {
    color: #6E99AE;
}

.block-title_purple {
    color: #AC8EE3;
}

.block-title_orange {
    color: #FFA34D;
}

.block-title_green {
    color: #3DC47E;
}

.block-text {
    font-family:"Lato regular";
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;
    margin-top: 8px;
}

.block-text-img {
    display: inline;
}

.sections-news {
    margin-top: 30px;
    display: flex;
    gap: 30px;
}

.news__grid {
    max-width: 848px;
    gap: 30px;
    display: grid;
    grid-template-areas: 
    "cars cars art"
    "cars cars art"
    "cats coffee manufacture"
    "cats stress lemons"
    ;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
}

.grid-cars {
    position: relative;
    grid-area: cars;
    background-color: white;
    border-radius: 10px;
    padding: 15px 0 13px 35px;
    box-sizing: border-box;
}

.cars-display {
    display: flex;
}

.content-subtitle {
    font-family:"Lato regular";
    line-height: 15px;
    letter-spacing: 0.5px;
    margin-top: 20px;
    color: #6E99AE;
    text-transform: uppercase;
    font-size: 12px;
}

.content-title {
    font-family:"RobotoSlab regular";
    font-size: 25px;
    line-height: 30px;
    max-width: 238px;
    margin-top: 20px;
}

.content-text {
    font-family:"Lato regular";
    max-width: 228px;
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;
    margin-top: 25px;
    margin-bottom: 50px;
}

.cars-comment {
    display: flex;
    align-items: center;
    border-top: 1px solid #D9DADB;
    padding: 12px 35px 0 0;
}

.comment-author {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: 5px;
}

.author-name {
    font-family:"Lato bold";
    line-height: 20px;
    font-size: 14px;
    color: #262D33;
}

.comment-text {
    font-family:"Lato regular";
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;
    margin-right: 15px;
}

.comment-count {
    display: flex;
    gap: 5px;
}

.count-value {
    font-family:"Lato regular";
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 15px;
    color: #939699;
}

.grid-art {
    grid-area: art;
    background-image: url("../img/art.png");
    border-radius: 10px;
    padding: 18px 47px 25px 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.art-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3DC47E;
    border-radius: 3px;
    max-width: 66px;
    min-height: 25px;
}

.tag-text {
    font-family:"Lato bold";
    color: white;
    font-size: 12px;
    line-height: 15px;
}

.display-subtitle {
    font-family:"Lato light";
    color: #E7D9FF;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.5px;
}

.display-title {
    font-family:"Lato regular";
    color: white;
    margin-top: 10px;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.5px;
    max-width: 180px;
    text-transform: uppercase;
}

.display-creator {
    display: flex;
    margin-top: 15px;
    gap: 10px;
}

.data-name {
    font-family:"Lato regular";
    opacity: 85%;
    font-size: 14px;
    line-height: 20px;
    color: white;
}

.data-stat {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.stat-date {
    font-family:"Lato regular";
    align-self: center;
    color: white;
    opacity: 40%;
    font-size: 12px;
    line-height: 15px;
}

.stat-comments {
    display: flex;
    gap: 5px;
}

.comments-img {
    display: flex;
    align-items: center;
}

.comments-value {
    font-family:"Lato regular";
    line-height: 15px;
    align-self: center;
    font-size: 12px;
    color: white;
    opacity: 40%;
}

.stat-likes {
    display: flex;
    gap: 5px;
}

.likes-img {
    display: flex;
    align-items: center;
}

.likes-value {
    font-family:"Lato regular";
    line-height: 15px;
    align-self: center;
    font-size: 12px;
    color: white;
    opacity: 40%;
}

.grid-cats {
    background-color: white;
    grid-area: cats;
    border-radius: 10px;
    overflow: hidden;
}

.cats-title {
    padding: 15px 25px 30px 25px;
}

.title-text {
    font-family:"RobotoSlab regular";
    font-size: 16px;
    line-height: 25px;
    color: #262D33;
}

.grid-coffee {
    grid-area: coffee;
}

.grid-same {
    padding: 25px 25px 30px 25px;
    background-color: white;
    border-radius: 10px;
}

.same-title {
    font-family:"RobotoSlab regular";
    font-size: 16px;
    line-height: 25px;
    color: #262D33;
    font-size: 16px;
    color: #262D33;
}

.same-text {
    font-family:"Lato regular";
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;
    margin-top: 5px;
}

.same-date {
    font-family:"Lato regular";
    font-size: 12px;
    line-height: 15px;
    color: #939699;
    margin-top: 10px;
}

.grid-manufacture {
    grid-area: manufacture;
}

.grid-stress {
    grid-area: stress;
}

.grid-lemons {
    grid-area: lemons;
}

.news__columns {
    background-color: #6E99AE;
    border-radius: 10px;
}

.columns-title {
    font-family:"Lato regular";
    padding: 20px 25px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: white;
    border-bottom: 1px solid #B4D1E0;
}

.columns-grid {
    display: grid;
    gap: 35px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    padding: 35px 25px 0 35px;
}

.grid-quote {
    position: relative;
    padding-bottom: 40px;
    border-bottom: 1px solid #B4D1E0;
}

.quote-img {
    z-index: 1;
    position: absolute;
}

.quote-text {
    font-family:"Lato regular";
    position: relative;
    z-index: 2;
    margin-left: 10px;
    font-size: 20px;
    line-height: 25px;
    color: white;
}

.quote-owner {
    display: flex;
    gap: 10px;
    margin: 15px 0 0 10px;
}

.owner-name {
    align-self: center;
}

.name-value {
    font-family:"Lato regular";
    font-size: 14px;
    line-height: 20px;
    color: #D1E2EB;
}

.name-job {
    font-family:"Lato regular";
    font-size: 12px;
    line-height: 15px;
    margin-top: 5px;
    color: #D1E2EB;
}

.columns-link {
    padding: 11px 0 14px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-value {
    font-family:"Lato bold";
    line-height: 20px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.random-article {
    margin-top: 60px;
    padding: 50px 0 55px 0;
    background-image: url("../img/random_article.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.random-article__text {
    font-family:"RobotoSlab regular";
    font-size: 40px;
    color: white;
    justify-self: center;
    max-width: 946px;
    text-align: center;
}

.collection {
    margin-top: 60px;
    display: flex;
    gap: 30px;
}

.collection__grid {
    height: 100%;
    display: grid;
    gap: 25px;
    background-color: white;
    padding: 25px;
    max-width: 848px;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-rows: 1fr;
    border-radius: 10px;
}

.collection__grid > *:nth-child(-n+5) {
    border-bottom: 1px solid #D9DADB;
}

.collection__grid > *:last-child {
    padding: 0;
    border-bottom: none;
}

.grid-article {
    padding-bottom: 25px;
    display: flex;
    gap: 25px;
}

.article-data {
    position: relative;
}

.data-subtitle {
    font-family: "Lato light";
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.5px;
}

.data-title {
    font-family: "RobotoSlab regular";
    max-width: 450px;
    margin-top: 15px;
    font-size: 20px;
    line-height: 25px;
    color: #262D33;
}

.data-text {
    font-family: "Lato regular";
    max-width: 450px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;
}

.article-stat-text-color {
    color: #939699;
}

.article-stat-margin {
    margin-top: 20px;
}

.data-fav-icon {
    position: absolute;
    top: 0;
    right: 0;
}

.data-subtitle_flights {
    color: #4592FF;
}

.data-subtitle_food {
    color: #3BBDC4;
}

.data-subtitle_science {
    color: #FF4F52;
}

.data-subtitle_artndesign {
    color: #AC8EE3;
}

.collection__top {
    height: 100%;
    background-color: white;
    border-radius: 10px;
}

.top-title {
    padding: 20px 25px;
    font-family: "Lato regular";
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #262D33;
    text-transform: uppercase;
    border-bottom: 1px solid #D9DADB;
}

.top-grid {
    gap: 18px;
    display: grid;
    padding: 18px 25px 0 25px;
}

.grid-topic {
    position: relative;
    display: flex;
    gap: 10px;
    padding-bottom: 18px;
    border-bottom: 1px solid #D9DADB;
}

.topic-text {
    z-index: 2;
}

.topic-title {
    max-width: 143px;
    font-family: "Lato regular";
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;
}

.topic-time {
    margin-top: 5px;
    font-family: "Lato regular";
    font-size: 12px;
    line-height: 15px;
    color: #939699;
}

.topic-num {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 5px;
}

.top-grid > *:nth-child(1) {
    padding-top: none;
}

.top-link {
    color: #262D33;
}

.section-hot {
    background-color: #262D33;
    padding: 60px 0 60px 0;
}

.section-hot__grid {
    display: grid;
    gap: 30px;
    grid-template-areas: 
    "photo photo careers careers"
    "photo photo careers careers"
    "photo photo coffee manufacture";
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
}

.grid-photo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: photo;
    background-image: url("../img/hot-photo.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 50px 50px 40px 50px;
}

.photo-tag{
    font-family: "Lato bold";
    font-size: 12px;
    line-height: 15px;
    color: white;
    display: flex;
    min-width: 45px;
    position: absolute;
    top: 18px;
    left: 18px;
    background-color: #FF4F52;
    padding: 5px 0 5px 0;
    justify-content: center;
    border-radius: 3px;
}

.maker-img {
    display: flex;
    justify-content: center;
}

.photo-text {
    justify-self: center;
    text-align: center;
    max-width: 455px;
    font-family: "RobotoSlab bold";
    font-size: 40px;
    line-height: 50px;
    margin-top: 30px;
    color: white;
}

.photo-button {
    display: flex;
    gap: 10px;
    margin-top: 45px;
    border: none;
    border-radius: 20px;
    background-color: #4592FF;
    padding: 10px 25px 10px 20px;
}

.button-desc {
    gap: 5px;
    display: flex;
    align-items: center;
}

.desc-text {
    font-family:"Lato bold";
    font-size: 14px;
    line-height: 20px;
    color: white;
}

.desc-value {
    font-family: "Lato regular";
    font-size: 14px;
    line-height: 20px;
    color: #C5E4FC;
}

.grid-careers {
    gap: 10px;
    grid-area: careers;
    display: flex;
    background-color: #B4D1E0;
    border-radius: 10px;
    padding: 18px 30px 0 30px;
}

.general-subtitle {
    font-family: "Lato regular";
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #6E99AE;
}

.general-title {
    font-family:"RobotoSlab bold";
    font-size: 25px;
    line-height: 30px;
    color: #262D33;
    margin-top: 20px;
}

.general-text {
    font-family: "Lato regular";
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;
    margin-top: 15px;
}

.general-button {
    margin-top: 25px;
}